@import url('https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+JP:wght@400;700&display=swap');

body {
    margin: 0;
    background: #141826 url('bg.png') bottom center no-repeat;
    background-size: contain;
    color: #D5E2F2;
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 600px; 
    text-align: center;
}

h1, h2 {
    color: #D5E2F2;
    font-family: 'Jua', sans-serif;
}

.purple {
    color: #8987EB;
}

.pink {
    color: #C280F6;
}

.yellow {
    color: #F2E9BB;
}

.options-btns {
    display: flex;
    justify-content: space-between;
}

.options-btns button {
    width: 175px;
    height: 100px;
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 25px;
    font-size: 1.05em;
    background: #C280F6;
    color: #141826;
    border: 0px;
}

#winner button {
    width: 175px;
    height: 50px;
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 25px;
    font-size: 1.05em;
    background: #F2E9BB;
    color: #141826;
    border: 0px;
}

#winner, #options {
    text-align: center;
    width: 100%;
    height: 200px;
}

#winner {
    display: none;
}

#battleground {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    text-align: center;
    margin: 20px 0;
    width: 100%;
    background: rgba(0,0,0,0.5);
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

#results {
    display: flex;
    column-gap: 20px;
}

#player, #computer {
    flex: 1;    
}

#player h3, #computer h3 {
    text-transform: uppercase;
    margin: 0;
}

#results .score {
    font-size: 3em;
    font-weight: bold;
    color: #8987EB;
    margin: 0;
    background: #000;
}

#results .choice {
    font-weight: bold;
    margin: 0;
}

#round-winner {
    height: 75px;
    width: 100%;
    font-size: 1em;
    font-style: italic;
    color: #8987EB;
    font-weight: bold;
}


@media only screen and (max-width: 480px) {

    .container {
        width: 100%;
        padding: 20px 20px 100px;
    }

    #options, #winner {
        height: auto;
    }

    .options-btns {
        flex-direction: column;
    }

    .options-btns button {
        width: 100%;
        height: 60px;
        margin-bottom: 10px;
    }

    .choice {
        display: block;
    }

    #round-winner {
        min-height: 100px;
    }
    
}