@import url('https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+JP:wght@400;700&display=swap');

body {
    margin: 0;
    background: #141826 url('bg.png') bottom center no-repeat;
    background-size: contain;
    color: #D5E2F2;
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    justify-content: center;
}

h1, h2 {
    color: #D5E2F2;
    font-family: 'Jua', sans-serif;
}

.purple {
    color: #8987EB;
}

.pink {
    color: #C280F6;
}

.yellow {
    color: #F2E9BB;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 600px; 
}

.options-btns {
    display: flex;
    justify-content: space-between;
    
}

.options-btns button {
    width: 175px;
    height: 100px;
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 15px;
    font-size: 1.05em;
    background: #C280F6;
    border: 0px;
    padding: 10px;
}

#winner button {
    width: 175px;
    height: 50px;
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 15px;
    font-size: 1.1em;
    background: #F2E9BB;
    border: 0px;
    padding: 10px; 
}

#winner, #options {
    text-align: center;
    width: 100%;
    height: 200px;
}

#winner {
    display: none;
}

#game {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    text-align: center;
    margin: 20px 0;
    width: 100%;
    background: rgba(0,0,0,0.5);
    border-radius: 20px;
    padding: 20px;
}

#results {
    display: flex;
    align-items: center;
}

#player, #computer {
    flex: 1;
    padding: 20px;
}

#player h3, #computer h3 {
    text-transform: uppercase;
    margin: 0;
}

#results .score {
    font-size: 3em;
    font-weight: bold;
    color: #8987EB;
    margin: 0;
    background: #000;
}


#results .choice {
    font-weight: bold;
    margin: 0;
}

#round-winner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    font-size: 1em;
    font-style: italic;
    color: #8987EB;
    font-weight: bold;
}